<div class="container mt-3">
    <h2 class="mb-4">Listado de archivos</h2>
    {% if archivos %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover bg-white">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Subida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for archivo in archivos %}
                <tr>
                    <td>{{ archivo.id }}</td>
                    <td>{{ archivo.nombre }}</td>
                    <td>{{ archivo.fecha_subida }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-info seleccionar-archivo" data-id="{{ archivo.id }}">Seleccionar</a>
                        <a href="{% url 'ver_archivo' archivo.id %}" class="btn btn-sm btn-primary">Ver</a>
                        <a href="{% url 'eliminar_archivo' archivo.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No hay archivos subidos aún.</p>
    {% endif %}
</div>
