
<!--<div class="container mt-4 text-center">
    <h2>Descripcion del archivo: {{ archivo.nombre }}</h2>
<div class="container text-center mt-3">-->
    

    <div class="mb-3">
        {% if request.GET.completo == "1" %}
            <button type="button" class="btn btn-primary btn-cargar"
                    data-url="/ver/{{ archivo.id }}">
                Volver a la vista pricipal
            </button>
        

        {% endif %}
        
        {% if request.GET.completo == "1" %}

        {% else %}
            
        <!-- Botón que carga via fetch -->
        <button type="button" class="btn btn-dark btn-cargar" data-url="/analisis_grafico/{{ archivo.id }}/">
            Gráficos
        </button>
        <a href="{% url 'analisis_grafico' archivo.id %}" class="btn btn-success">
            Graficos-Funcional
        </a>


        <a href="{% url 'test_graficos' archivo.id %}" class="btn btn-success">
            Test Gráficos
        </a>
        {% endif %}
    </div>

    <h4>Vista previa del archivo</h4>
    <div class="table-responsive" style="max-height: 500px; overflow-x: auto; overflow-y: auto; white-space: nowrap;">
        {{ df|safe }}
    </div>

    {% if request.GET.completo == "1" %}
        <p>Fin de la tabla</p>
    {% else %}
        <button type="button" class=" btn btn-primary btn-cargar float-end mb-4"
                    data-url="/ver/{{ archivo.id }}/?completo=1">
                Ver tabla completa
        </button>
        <h4 class="mt-4">Análisis descriptivo</h4>
        <p>Resumen estadístico de las columnas numéricas del archivo:</p>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p><strong>Valores nulos:</strong> {{ nulos }}</p>
            </div>
            <div class="col-auto">
                <p><strong>Valores cero:</strong> {{ ceros }}</p>
            </div>
        </div>
        <p class="small text-muted mt-2">
            <strong>Nota:</strong> Recordar que el procesamiento se hace con formato americano, 
            es decir, usando <strong>puntos (.)</strong> como separador decimal.
        </p>
        <div class="table-responsive" style="max-height: 500px; overflow-x: auto; overflow-y: auto; white-space: nowrap;">
            {{ descripcion|safe }}
        </div>
    {% endif %}
</div>
